body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#size-filter {
    margin-bottom: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
}



.product-item p {
    margin: 0;
}

.product-item button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product-item .increaseAmount {
    background-color: green;
    color: white;
}

.product-item .decrease-button {
    background-color: red;
    color: white;
}
.button-group {
    display: flex;
    gap: 10px;
}

.size-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.size-buttonAlles {
    background-color: gray;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}


  #product-list div {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
    height: 175px;
  }